@model IEnumerable<WebApplication3.Models.Teste>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TesteString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TesteDouble)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TesteDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TesteString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TesteDouble)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TesteDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
        </td>
    </tr>
}

</table>
